<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quest Rooms</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <span>Hello @User.Identity.Name</span>
            @Html.ActionLink("SignOut", "SignOut", "Account", null, new { @class = "btn btn-danger" })
            if (User.IsInRole("ADMIN"))
            {
                @Html.ActionLink("AdminPanel", "Index", "Admin", null, new { @class = "btn btn-success" })
            }
        }
        else
        {
            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success" })
        }

    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By Roman Bestiuk</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>